.about_tutor_icon {
  position: relative;
  bottom: 4px;
}
.about_tutor_left {
  margin-top: 50px;
}
.about_tutor_right {
  margin-top: 140px;
  padding: 20px;
}
.about_tutor_heading {
  font-size: 17px;
  line-height: 30px;
  margin-top: 5px;
  text-align: justify;
}
.about_tutor_main_heading {
  color: #0d355f;
  font-weight: bold;
  margin-top: 10px;
  font-size: 30px;
  line-height: 40px;
}
.featuretutor_back {
  margin-top: 80px;
  height: 650px;
}
.feature_text {
  margin-left: 35px;
}
.feature_heading {
  font-size: 35px;
  font-weight: bold;
  color: #0d355f;
}

.featuretutor_card {
  width: 380px;
  margin: auto;
}

.featuretutor_image {
  width: 380px;
  height: 350px;
  margin: auto;
}
.featuretutor_card_text {
  padding: 10px;
  width: 380px;
  background-color: white;
  justify-content: center;
  text-align: center;
}
.feature_name {
  font-size: 25px;
  color: chocolate;
  font-weight: bold;
}
.main_apply {
  margin: auto;
  height: 65vh;
  margin-top: 30px;
  border-radius: 5px;
  background: url("/src/Assests/About/tutor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.apply_now {
  height: 350px;
  margin-left: 50%;
  position: relative;
  top: 70px;
  border-radius: 5px;
  text-align: justify;
  padding: 50px;
}
.apply_back {
  margin-top: 6%;
}
.apply_heading {
  font-weight: bold;
  font-size: 25px;
  color: #0d355f;
}

.apply_button {
  padding: 10px 25px 10px 25px;
  color: white;
  margin-top: 20px;
  margin-left: 200px;
  border-radius: 10px;
  background-color: #0d355fe0;
}
.apply_button:hover {
  background-color: chocolate;
}
.feature_button {
  padding: 7px 15px 7px 15px;
  color: white;
  border-radius: 10px;
  background-color: #f1984ae0;
}
.tutor_btn1 {
  background-color: #0f437b;
  padding: 10px 15px 10px 15px;
  margin-top: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}
.featuretutor_card_text {
  position: relative;
  z-index: 3;
  transform: translateY(0px);
  transition: 0.5s all;
}

.featuretutor_card:hover .featuretutor_card_text {
  opacity: 1;
  transform: translateY(-30px);
}

@media screen and (max-width: 768px) {
  .about_tutor_heading {
    font-size: 12px;
    line-height: 20px;
  }
  .about_tutor_main_heading {
    font-size: 25px;
  }
  .about_tutor_right {
    margin-top: 7px;
    padding: 23px;
  }
  .fearuretutor_section {
    padding: 10px;
  }
  .featuretutor_back {
    height: 1600px;
  }

  .feature_text {
    width: 250px;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .feature_name {
    font-size: 20px;
  }
  .feature_heading {
    font-size: 30px;
  }
  .featuretutor_card {
    margin-top: 25px;
  }
  .featuretutor_image {
    width: 330px;
    height: 320px;
  }
  .featuretutor_card_text {
    width: 330px;
    margin: auto;
  }

  .apply_back {
    margin-top: 0px;
  }
  .apply_now {
    top: 0px;
    margin-left: 0px;
  }
  .main_apply {
    background: url("/src/Assests/About/change.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
