/* .main-detail
{
    width: 90%;
    height: 70vh;
    margin: auto;
    background-color: red;
} */
.detail-container
{
    position: relative;
    margin-top: 8%;
}
.detail-inner
{
    height: 65vh;
}
.left-img
{
    justify-content: center;
    text-align: center;
    margin-top: 6%;
    /* transform: rotate(2deg); */
}
.right-text
{
    margin-top:6% ;
}
.right-text a
{
    color: white;
    text-decoration: none;
   
}

.right-text button
{
    font-size: 18px;
    font-weight:5px;
    border: none;
    width: 85%;
    padding: 15px;
    transition: border-radius 3s;
  -webkit-transition: border-radius 3s;
}
.right-text button:hover
{
  
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.download
{
    position: relative;
    bottom: 5px;
    color: #fa5722;
}
@media screen and (max-width: 768px) {
 .detail-container
{
    /* position: relative; */
    margin-top: 32%;
}
.book-detail
{
    justify-content: center;
    text-align: center;
}
    
}