.counter-container
{
    justify-content: center;
    text-align: center;
    color:#ffcc00;
 
}
.counter-back
{
  margin-top: 8%;
  padding-top: 5%;
  background: linear-gradient(rgba(20, 75, 133, 0.795),rgba(20, 75, 133, 0.795)),url('/src/Assests/Home/counter.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center center; */
  /* background-attachment: fixed;  */
}
@media screen and (max-width: 768px) {
  .counter-back
  {
    margin-top: 12%;
  }
  
}