.back-footer
{
    background-color: #0d355f;
    width: 100%;
    height: 300px;
    color: gainsboro;
    font-size: 16px;
    margin-top: 100px;
    font-weight: bolder;
    background-image: url('/src/Assests/pattern.png');
    /* background-image: linear-gradient(to top,#0d355f 0%,#0d355f 1%,#092746 100%); */
}
.social-container {

   margin-top: 14px;
}
.head{
      margin-top: 70px;
      color: #fa5722;
  }
  .contact-link
  {
      color: white;
      margin-top: 10px;
  }
  .contact-link:hover
  {
      color: #fa5722;
      cursor: pointer;
  }
  .social-container a {
    font-size: 12px;
    margin-left: 0;
    color:whitesmoke ;
   
  }
  .social-container a:hover{
      cursor: pointer;
      color: #fa5722;
  }
  .footer_image img
  {
      width: 150px;
      margin-top: 70px;
  }
  @media screen and (max-width: 768px)
  {
    .footer_image img
    {
        width:120px;
        margin-top: 40px;
        margin-left: 140px;
    }
    .back-footer
    {
        
        height: 800px;
        justify-content: center;
        text-align: center;
      
    } 
    .contact-link
    {
        margin-top: 7px;
    }
  }
  
