@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

.Main_wrapper {
  

 
  background-image: url('/src/Assests/pattern.png');
  background-color: #43626f;
 
}
.INSIDE_wrapper {

  background-size: cover;
  border-radius: 7px;
  background-repeat: no-repeat;
  background-color:#0d355f ;
  background-image: url('/src/Assests/pattern.png');
} 
.toggle_btn {
  background-color: rgb(6, 139, 192);
  color: white;
  font-weight: bold;
  padding: 8px 45px 8px 45px;
  border-radius: 25px;
  outline: none;
  border: none;
  font-family: 'Nunito', sans-serif;
}

.main_heading {
  margin-top: 30px;
  margin-bottom: 30px;
}

.register_heading {
  color: white;
  font-family: 'Nunito', sans-serif;
}

.already {
  color: grey;
  font-family: 'Nunito', sans-serif;
}

.move {
  color: rgb(6, 139, 192);
  text-decoration: underline;
  cursor: pointer;
}

.input_field {
  border: none;
  outline: none;
  border-radius: 25px !important;
}

.input_label {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 5px;
}

.radio_btn {
  position: relative;
  left: 20px;
}

.gender {
  color: white;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
  margin-left: 5px;
}
.role
{
  color: white;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
  margin-left: 5px; 
}

.radio_btn1 {
  position: relative;
  left: 40px;
}
.btn_submit {
  background-color: rgb(6, 139, 192);
  color: white;
  font-weight: bold;
  padding: 8px 45px 8px 45px;
  border-radius: 25px;
  outline: none;
  border: none;
  font-family: 'Nunito', sans-serif;
  margin-top: 20px;
}
.image{
  margin-top: 20%;
}

@media screen and (max-width: 768px) {
  .Main_heading {
    text-align: center;
  }
  .register_heading {
    font-size: 19px;
  }
  .already {
    font-size: 15px;
  }
  .toggle_btn {
    padding: 2px 15px 2px 15px;
  }
  .toggle_div {
    text-align: center;
  }
 
.image
{
  display: none;
}

}

