body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke !important;
    font-family: 'Nunito', sans-serif
}
::-webkit-scrollbar
{
    width: 12px;
}
::-webkit-scrollbar-button
{
    height: 4px;
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(#5b9fe8,#ed6d45);
    border-radius:6px ;
}
@media screen and (max-width: 768px) {
 ::-webkit-scrollbar
{
    width: 8px;
}
::-webkit-scrollbar-thumb
{
    background: linear-gradient(#185494,#fe5722);
    border-radius:6px ;
}   
    
}

